@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n4.481bd4d19704ca98fb1d3abd50c668b6962860a2.woff2?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=ce0655f65fbe568dd4b0827685bc16cc854c12359759cf868d54086c8d574476") format("woff2"),
       url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n4.5a356a4c1877691cd26008ee4a5c7ada675c80ce.woff?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=897894f4706bd06c7849966e596332ae47070f6a00e3f7e7f65e8b0987bfc055") format("woff");
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n5.4e013095af5df852d965c6d0d5c22626d12ca9b1.woff2?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=e124723f9b7f12df1e3a5ba70df6b56f575cfd1da9ad005ee702e24d858f1f0f") format("woff2"),
       url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n5.a68b7118da8e36cefdfa5a16eb3ccd7b79151b88.woff?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=d65688a02ecdf10c71cc33260ad4bd46b0f4ea0f4380adbeb0709c668d8c2ad9") format("woff");
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n7.50ef4139896edec0637fde057914fbf7e3a8d56e.woff2?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=d4d27758217f128c1a41e50977d58a801a2349ace6a1cf21af0ea4c6aabfa32c") format("woff2"),
       url("https://concept-theme-tech.myshopify.com/cdn/fonts/inter/inter_n7.194c3d3f64efd8e4c82bbbe83dc84f5893fd9087.woff?h1=Y29uY2VwdC10aGVtZS10ZWNoLmFjY291bnQubXlzaG9waWZ5LmNvbQ&hmac=4f36ff50e790421ccf59a5c4e7c363e6b503c7423aa644710a57c612fe2a26d6") format("woff");
}
:root {
    /*! General */
    --color-base-text: 23 23 23;
    --color-base-highlight: 255 221 191;
    --color-base-background: 255 255 255;
    --color-base-button: 23 23 23;
    --color-base-button-gradient: #171717;
    --color-base-button-text: 255 255 255;
    --color-keyboard-focus: 11 97 205;
    --color-shadow: 168 232 226;
    --color-price: 23 23 23;
    --color-sale-price: 225 29 72;
    --color-sale-tag: 225 29 72;
    --color-sale-tag-text: 255 255 255;
    --color-rating: 245 158 11;
    --color-placeholder: 250 250 250;
    --color-success-text: 77 124 15;
    --color-success-background: 247 254 231;
    --color-error-text: 225 29 72;
    --color-error-background: 255 241 242;
    --color-info-text: 180 83 9;
    --color-info-background: 255 251 235;
    
    /*! Menu and drawers */
    --color-drawer-text: 23 23 23;
    --color-drawer-background: 255 255 255;
    --color-drawer-button-background: 23 23 23;
    --color-drawer-button-gradient: #171717;
    --color-drawer-button-text: 255 255 255;
    --color-drawer-overlay: 23 23 23;

    /*! Product card */
    --card-radius: var(--rounded-card);
    --card-border-width: 0.0rem;
    --card-border-opacity: 0.0;
    --card-shadow-opacity: 0.1;
    --card-shadow-horizontal-offset: 0.0rem;
    --card-shadow-vertical-offset: 0.0rem;

    /*! Buttons */
    --buttons-radius: var(--rounded-button);
    --buttons-border-width: 2px;
    --buttons-border-opacity: 1.0;
    --buttons-shadow-opacity: 0.0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 0px;

    /*! Inputs */
    --inputs-radius: var(--rounded-input);
    --inputs-border-width: 0px;
    --inputs-border-opacity: 0.65;

    /*! Spacing */
    --sp-0d5: 0.125rem;
    --sp-1: 0.25rem;
    --sp-1d5: 0.375rem;
    --sp-2: 0.5rem;
    --sp-2d5: 0.625rem;
    --sp-3: 0.75rem;
    --sp-3d5: 0.875rem;
    --sp-4: 1rem;
    --sp-4d5: 1.125rem;
    --sp-5: 1.25rem;
    --sp-5d5: 1.375rem;
    --sp-6: 1.5rem;
    --sp-6d5: 1.625rem;
    --sp-7: 1.75rem;
    --sp-7d5: 1.875rem;
    --sp-8: 2rem;
    --sp-8d5: 2.125rem;
    --sp-9: 2.25rem;
    --sp-9d5: 2.375rem;
    --sp-10: 2.5rem;
    --sp-10d5: 2.625rem;
    --sp-11: 2.75rem;
    --sp-12: 3rem;
    --sp-13: 3.25rem;
    --sp-14: 3.5rem;
    --sp-15: 3.875rem;
    --sp-16: 4rem;
    --sp-18: 4.5rem;
    --sp-20: 5rem;
    --sp-23: 5.625rem;
    --sp-24: 6rem;
    --sp-28: 7rem;
    --sp-32: 8rem;
    --sp-36: 9rem;
    --sp-40: 10rem;
    --sp-44: 11rem;
    --sp-48: 12rem;
    --sp-52: 13rem;
    --sp-56: 14rem;
    --sp-60: 15rem;
    --sp-64: 16rem;
    --sp-68: 17rem;
    --sp-72: 18rem;
    --sp-80: 20rem;
    --sp-96: 24rem;
    --sp-100: 32rem;

    /*! Font family */
    --font-heading-family: Inter, sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 700;
    --font-heading-line-height: 1;
    --font-heading-letter-spacing: -0.03em;
    

    --font-body-family: Inter, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-line-height: 1.2;
    --font-body-letter-spacing: 0.0em;

    --font-navigation-family: var(--font-body-family);
    --font-navigation-size: clamp(0.875rem, 0.748rem + 0.3174vw, 1.125rem);
    --font-navigation-weight: 500;
    

    --font-button-family: var(--font-body-family);
    --font-button-size: clamp(0.875rem, 0.8115rem + 0.1587vw, 1.0rem);
    --font-button-weight: 500;
    

    --font-product-family: var(--font-body-family);
    --font-product-size: clamp(1.0rem, 0.873rem + 0.3175vw, 1.25rem);
    --font-product-weight: 500;
    

    /*! Font size */
    --text-3xs: 0.625rem;
    --text-2xs: 0.6875rem;
    --text-xs: 0.75rem;
    --text-2sm: 0.8125rem;
    --text-sm: 0.875rem;
    --text-base: 1.0rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3.0rem;
    --text-6xl: 3.75rem;
    --text-7xl: 4.5rem;
    --text-8xl: 6.0rem;

    /*! Layout */
    --page-width: 1900px;
    --gap-padding: clamp(var(--sp-5), 2.526vw, var(--sp-12));
    --grid-gap: clamp(40px, 20vw, 60px);
    --page-padding: var(--sp-5);
    --page-container: min(calc(100vw - var(--scrollbar-width, 0px) - var(--page-padding) * 2), var(--page-width));
    --rounded-button: 3.75rem;
    --rounded-input: 0.75rem;
    --rounded-card: clamp(var(--sp-2d5), 1.053vw, var(--sp-5));
    --rounded-block: clamp(var(--sp-2d5), 1.053vw, var(--sp-5));

    /*! Other */
    --icon-weight: 1.5px;
  }

  @media screen and (min-width: 1024px) {
    :root {
      --page-padding: var(--sp-9);
    }
  }

  @media screen and (min-width: 1280px) {
    :root {
      --gap-padding: var(--sp-12);
      --page-padding: var(--sp-12);
      --page-container: min(calc(100vw - var(--scrollbar-width, 0px) - var(--page-padding) * 2), max(var(--page-width), 1280px));
    }
  }

  @media screen and (min-width: 1536px) {
    :root {
      --page-padding: max(var(--sp-12), 50vw - var(--scrollbar-width, 0px)/2 - var(--page-width)/2);
    }
  }
:root {--topbar-height: var(--sp-12);}
    
    @media screen and (min-width: 1536px) {
      :root {--topbar-height: var(--sp-14);}
    }

    #shopify-section-sections--24160876822809__announcement-bar {
      --gradient-background: #1f1f1f;
      --color-background: 31 31 31;
      --color-foreground: 250 250 250;
      --color-highlight: 255 221 191;
    }
#shopify-section-sections--24160876822809__header {
    --section-padding-top: 32px;
    --section-padding-bottom: 32px;
    --color-background: 255 255 255;
    --color-foreground: 23 23 23;
    --color-transparent: 255 255 255;
  }
#shopify-section-sections--24160878231833__cookie-banner {
    --color-drawer-text: 23 23 23;
    --color-drawer-background: 255 255 255;
    --color-drawer-button-gradient: #171717;
    --color-drawer-button-background: 23 23 23;
    --color-drawer-button-text: 255 255 255;
    --color-highlight: 255 221 191;
  }

  #shopify-pc__banner {
    display: none !important;
  }
#shopify-section-sections--24160878231833__mobile-dock {
      --section-padding-top: 8px;
      --section-padding-bottom: 8px;--color-background: 255 255 255;--color-foreground: 0 0 0;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;}
#shopify-section-template--24160882262297__2377d78c-8b3f-454d-a0b4-547fe25fa8d7 {
    --section-padding-top: 0px;
    --section-padding-bottom: 0px;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;--color-highlight: 224 165 128;--color-button-background: 255 255 255;
  --color-button-border: 255 255 255;--color-button-text: 23 23 23;--color-overlay: 0 0 0;--overlay-opacity: 0.5;}
#shopify-section-template--24160882262297__8e137b09-5ca0-41e8-9c5c-178d5290a363 {
    --section-padding-top: 120px;
    --section-padding-bottom: 100px;}
#shopify-section-template--24160882262297__b5fb660e-c727-40dc-9748-b2668dc840c4 {
    --section-padding-top: 72px;
    --section-padding-bottom: 72px;--color-highlight: 204 216 181;--section-blocks-count: 3;
  }#shopify-block-template--20175845261593__b5fb660e-c727-40dc-9748-b2668dc840c4-profile-2 {--color-background: 76 85 56;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;}#shopify-block-template--20175845261593__b5fb660e-c727-40dc-9748-b2668dc840c4-profile-1 {--color-background: 136 106 81;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;}#shopify-block-template--20175845261593__b5fb660e-c727-40dc-9748-b2668dc840c4-profile-3 {--color-background: 46 45 69;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;}
#shopify-section-template--24160882262297__45a26104-ae62-4c5e-b35f-47f0afd445ba {
    --section-padding-top: 72px;
    --section-padding-bottom: 72px;--section-grid-gap: 70px;
  }
#shopify-section-template--24160882262297__2b023712-a851-4dc4-8462-a06f71612bfd {
    --section-padding-top: 84px;
    --section-padding-bottom: 120px;}
#shopify-section-template--24160882262297__f1c4c7ff-9881-40e7-a1ac-59f186588bb8 {
    --section-padding-top: 72px;
    --section-padding-bottom: 72px;--color-background: 23 23 23;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;--section-blocks-count: 7;
  }
#shopify-section-template--24160882262297__c49d204a-0cb0-4bc4-b6ea-fc702b874b31 {
    --section-padding-top: 120px;
    --section-padding-bottom: 20px;--color-background: 250 250 250;--color-highlight: 197 232 184;}
#shopify-section-template--24160882262297__56d5518b-5013-4002-acf2-6715d3f603a1 {
    --section-padding-top: 60px;
    --section-padding-bottom: 120px;--color-background: 250 250 250;--section-grid-gap: 120px;
  }
#shopify-section-sections--24160876757273__f3e9ffff-1f79-498f-bb2e-cbab7dd0984b {
    --section-padding-top: 60px;
    --section-padding-bottom: 60px;}
#shopify-section-sections--24160876757273__footer {
    --section-padding-top: 72px;
    --section-padding-bottom: 72px;--color-background: 31 31 31;--color-foreground: 255 255 255;
  --color-border: var(--color-foreground)/ 0.1;
  --color-border-dark: var(--color-foreground)/ 0.4;
  --color-border-light: var(--color-foreground)/ 0.06;--color-button-background: 255 255 255;
  --color-button-border: 255 255 255;--color-button-text: 0 0 0;}
@media (min-width: 1280px) {
        .footer__item--6b5e7956-d5ac-40aa-8422-6ec22b172b81 { width: calc(50% - var(--sp-12)); }
      }
@media (min-width: 1280px) {
        .footer__item--10ecab98-b3cd-4d06-b3b9-82ceaa6421ee { width: calc(50% - var(--sp-12)); }
      }
@media (min-width: 1280px) {
        .footer__item--3ea0340a-3a4b-494b-8dba-b25807751bf9 { width: calc(95% - var(--sp-12)); }
      }
#shopify-section-sections--24160876757273__footer-copyright {
    --gradient-background: #171717;
    --color-background: 23 23 23;
    --color-foreground: 255 255 255;
  }
